.jumbotron {
	padding-left: 10%;
	padding-right: 10%;
	font-family: 'Open Sans';
	font-weight: 300;
}

.page-help {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 5px;
	padding-bottom: 5px;
	font-family: 'Open Sans';
	font-weight: 300;
	font-size: 20px;
	text-align: center;
	background-color: #f4f4f4;	
}


.sensors-lastupdate {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 5px;
	padding-bottom: 5px;
	font-family: 'Open Sans';
	font-weight: 300;
	font-size: 13px;

	background-color: #f4f4f4;	
}

footer {
	margin-bottom: 20px;
}

hr {
	margin-top: 50px;
}

.navbar-brand { /*SmartAmbient Sensor title in nav bar*/
	font-family: 'Open Sans';
	font-weight: 400;
}

.current-reading {
	text-align: center;
	font-size: 2em;
	margin: 50px 0 40px 0;
}

.view-history {
	text-align: center;
}

.history {
	margin: 20px 0px 30px 0px;
}

.radio {
	clear: both;
	padding-bottom: 10px;
}

.extra-space{
	height: 40px;
}

.extra-space2 {
	height: 15px;
}

.percent {
	margin-top: 0.8%;
	font-size: 1.1em;
}

.save {
	width: 70px;
	margin-left: 5px;
}

.radio-option {
	font-size: 1.1em;
	font-style: italic;
	font-weight: bold;
}

.help-block {
	font-size: 0.9em;
}

.box {
	width: 10px;
	padding-top: 0.9%;
}

ul li.active {
	font-size: 18px;
	background-color: white;
}

ul li {
	font-size: 16px;
	font-family: 'Open Sans';
	font-weight: 300;
}

.mylink {
	color: red;
}

.btn, .date-time {
	font-size: 1.2em;
}

.btn-lg {
	font-size: 0.9em;
	font-family: 'Open Sans';
	font-weight: 300;
}


h1 { /* the welcome word */
	font-family: 'Open Sans';
	font-weight: 400;
}


h2 { /* heading for main and mainuser */
	font-family: 'Open Sans';
	font-weight: 400;
}

h3 { /* heading for main and mainuser */
	font-family: 'Open Sans';
	font-weight: 400;
}

p { 
	font-family: 'Open Sans';
	font-weight: 300;
}


.text-primary-larger {
	font-family: 'Open Sans';
	font-weight: 400;
	color: red;
	font-size: 35px;

}

.text-primary {
	font-family: 'Open Sans';
	font-weight: 400;
	color: red;
}

.table {
	font-family: 'Open Sans';
	font-weight: 400;

}

.form-horizontal {
	font-family: 'Open Sans';
	font-weight: 300;
}


.col-md-4 p:hover {
	
	background: #f4f4f4;


}