<!-- Front page after login -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>SmartAmbient - Home</title>
  <!-- Bootstrap Simplex-->
  <link href="../simplex/bootstrap.min.css" rel="stylesheet">
  <!-- Stylesheet -->
  <link href="../stylesheets/main.css" rel="stylesheet" type="text/css">
  <link rel="apple-touch-icon" href="../images/iosicon.png">
  <link rel="icon" href="../images/favicon.ico" type="image/x-icon"/>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

  <!-- Auto refresh page every 30 seconds -->
  <meta http-equiv="refresh" content="300" >

  <!-- Fade in fade out page transition -->
  <script type="text/javascript">
    $(document).ready(function() {
      $("body").css("display", "none");
      $("body").fadeIn(3000);
      $("a.transition").click(function(event){
        event.preventDefault();
        linkLocation = this.href;
        $("body").fadeOut(0, redirectPage);      
      });
         
      function redirectPage() {
      window.location = linkLocation;
      }
    });
  </script>

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
    


    </head>

    <body>

      <!-- Top navbar -->
      <div class="navbar navbar-inverse">

        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand">SmartAmbient Sensor</a>
        </div>

        <div class="navbar-collapse collapse navbar-inverse-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href=""><span class="mylink">Home</span></a></li>
            <li><a href="/sensors?username={{ nickname }}" class="transition">Sensors</a></li>
            <li><a href="/history?username={{ nickname }}" class="transition">History</a></li>
            <li><a href="/settings?username={{ nickname }}" class="transition">Settings</a></li>
            <li><a href="/how_to_use" class="transition">Information</a></li>
          </ul>
          
          <ul class="nav navbar-nav navbar-right">
            <li><a>{{ user_mail }}</a></li>
            <li><a href="{{ logout }}" class="transition">Logout</a></li>
          </ul>

        </div>

      </div>

      <div class="jumbotron">
        <h1>Welcome, {{ nickname }}!</h1>
        <p>SmartAmbient Sensor system is made for YOU - the manager of a workplace, school, or office or anyone who wants to keep track of environmental data. Find out when a space is used most and whether it is heated and lit effectively. No more worrying about wasting electricity, now you can nail the culprits quickly and save your wallet!
        </p>

        <br/>                   
                
      </div>

      <div class="container">
        <!-- Example row of columns -->
        <div class="row">

          <div class="col-md-4">
            <h2>Get real-time data and history</h2>
            <p>The SmartAmbient Sensor System operates on Arduino, which requires very little power as compared to competing sensor products. You can get real time information about temperature, light intensity and presence of motion as well as view current data and history. 
            </p>
          </div>

          <div class="col-md-4">
            <h2>Easy to setup and use</h2>
            <p>Setting up the Arduino hardware simply takes a few minutes. All you have to do then is to copy a piece of code and paste it in your Arduino IDE, enter your Gmail username, the MAC address of the Arduino shield and how frequently you want to post data. That's it! Read more <a href="/how_to_use" class="transition">here</a>.</p>
          </div>

          <div class="col-md-4">
            <h2>Access from anywhere you want</h2>
            <p>Any device, including your Mac, PC, tablet, iPhone, Android, or even your Windows phone, can be used to access sensor data and history. Login with your Google Account and access from anywhere in the world!</p>
          </div>

        </div>

        <hr/>

        <footer>
          <p><img height="80px" width="80px" src="../images/red_black.png" />  Ambienators 2014</p>
        </footer>

      </div>
      
      <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
      <!-- Include all compiled plugins (below), or include individual files as needed -->
      <script src="../bootstrap/js/bootstrap.min.js"></script>
    </body>
    </html>
