<!-- History -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>SmartAmbient - History</title>
  <!-- Bootstrap Simplex-->
  <link href="../simplex/bootstrap.min.css" rel="stylesheet">
  <!-- Stylesheet -->
  <link href="../stylesheets/main.css" rel="stylesheet" type="text/css">
  <link rel="apple-touch-icon" href="../images/iosicon.png">
  <link rel="icon" href="../images/favicon.ico" type="image/x-icon"/>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

  

  <!-- Fade in fade out page transition -->
  <script type="text/javascript">
    $(document).ready(function() {
      $("body").css("display", "none");
      $("body").fadeIn(0);
      $("a.transition").click(function(event){
        event.preventDefault();
        linkLocation = this.href;
        $("body").fadeOut(0, redirectPage);      
      });
         
      function redirectPage() {
      window.location = linkLocation;
      }
    });
  </script>

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]
-->

    </head>

    <body>

      <!-- Top navbar -->
      <div class="navbar navbar-inverse">

        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand">SmartAmbient Sensor</a>
        </div>

        <div class="navbar-collapse collapse navbar-inverse-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/mainuser?username={{ nickname }}" class="transition">Home</a></li>
            <li><a href="/sensors?username={{ nickname }}" class="transition">Sensors</a></li>
            <li class="active"><a href=""><span class="mylink">History</span></a></li>
            <li><a href="/settings?username={{ nickname }}" class="transition">Settings</a></li>
          </ul> 
          
          <ul class="nav navbar-nav navbar-right">
            <li><a>{{ user_mail }}</a></li>
            <li><a href="{{ logout }}" class="transition">Logout</a></li>
          </ul>

        </div>

      </div>


      <div class="page-help">
        <!--<h3>Real-time Sensor Data</h3>-->
        <p>Hello, {{ nickname }}. This page displays the history of your sensor data.</p>
        <p>To adjust the number of entries shown on this page, click Settings.</p>
      </div>

      <div class="container">
    <!--  <div id='chart_div' style='width: 700px; height: 240px;'></div> -->
        <table class="table table-striped table-hover history">

          <thead>
            <tr>
              <th>Index</th>
              <th>Date/Time</th>
              <th>Temperature</th>
              <th>Light intensity</th>
              <th>Motion</th>
            </tr>
          </thead>

          <tbody>
            {% for x in query %}
            {% set outer_loop = loop %}
            <tr>
              <td>{{ outer_loop.index }}</td>
              <td>{{ dates[outer_loop.index-1] }}</td>
              {% if person.temperature_unit == 'celsius' %}
              <td>{{ x.temp }} &deg; C</td>
              {% elif person.temperature_unit == 'fahrenheit' %}
              <td>{{ (32+(9.0/5.0)*x.temp)|round(2) }} &deg; F</td>
              {% else %}
              <td>{{ x.temp+273 }} K</td>
              {% endif %}
              <td>{{ x.light }} %</td>
              
              {% if x.movement == 1 %}
              <td>Present</td>
              <!--<td>{{ x.movement }}</td>-->
              {% else %}
              <td>Not Present</td>
              {% endif %}
            


            </tr>
            {% endfor %}
            
          </tbody>
        </table> 


        <hr/>

        <footer>
          <p><img height="80px" width="80px" src="../images/red_black.png" />  Ambienators 2014</p>
        </footer>

      </div>



      <!-- Include all compiled plugins (below), or include individual files as needed -->
      <script src="../bootstrap/js/bootstrap.min.js"></script>

      <!-- Autorefresh page every 15 seconds when page is visible -->
      <script src="../js/autorefresh-when-visible.js"></script>
      <div id="enableAutoRefresh"></div>

      
    </body>
    </html>
