<!-- Settings -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>SmartAmbient - How to use</title>
  <!-- Bootstrap Simplex-->
  <link href="../simplex/bootstrap.min.css" rel="stylesheet">
  <!-- Stylesheet -->
  <link href="../stylesheets/main.css" rel="stylesheet" type="text/css">
  <link rel="apple-touch-icon" href="../images/iosicon.png">
  <link rel="icon" href="../images/favicon.ico" type="image/x-icon"/>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
  
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>


  <!-- Fade in fade out page transition -->
  <script type="text/javascript">
    $(document).ready(function() {
      $("body").css("display", "none");
      $("body").fadeIn(0);
      $("a.transition").click(function(event){
        event.preventDefault();
        linkLocation = this.href;
        $("body").fadeOut(0, redirectPage);      
      });
         
      function redirectPage() {
      window.location = linkLocation;
      }
    });
  </script>
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
    </head>

    <body>

      <!-- Top navbar -->
      <div class="navbar navbar-inverse">

        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand">SmartAmbient Sensor</a>
        </div>

        <div class="navbar-collapse collapse navbar-inverse-collapse">
          <ul class="nav navbar-nav">
            {% if urltext == 'Logout' %}
            <li><a href="/mainuser?username={{ nickname }}" class="transition">Home</a></li>
            {% else %}
            <li><a href="/" class="transition">Home</a></li>
            {% endif %}
            <li><a href="/sensors?username={{ nickname }}" class="transition">Sensors</a></li>
            <li><a href="/history?username={{ nickname }}" class="transition">History</a></li>
            <li><a href="/settings?username={{ nickname }}">Settings</a></li>
            <li class="active"><a href="" class="transition"><span class="mylink">How to use</span></a></li>
          </ul>
          
          <ul class="nav navbar-nav navbar-right">
            <li><a>{{ user_mail }}</a></li>
            <li><a href="{{ urllink }}" class="transition">{{ urltext }}</a></li>
          </ul>

        </div>

      </div>
    <div class="page-help">
        
        <p>This page explains how to set up the hardware and use this app.</p>
      </div>

      <div class="container">
        

        <hr>

        <footer>
          <p><img height="80px" width="80px" src="../images/red_black.png" />  Ambienators 2014</p>
        </footer>

      </div>


      <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
      <!-- Include all compiled plugins (below), or include individual files as needed -->
      <script src="../bootstrap/js/bootstrap.min.js"></script>
    </body>
    </html>
