<!-- Sensors -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>SmartAmbient - Sensors</title>
  <!-- Bootstrap Simplex-->
  <link href="../simplex/bootstrap.min.css" rel="stylesheet">
  <!-- Stylesheet -->
  <link href="../stylesheets/main.css" rel="stylesheet" type="text/css">
  <link rel="apple-touch-icon" href="../images/iosicon.png">
  <link rel="icon" href="../images/favicon.ico" type="image/x-icon"/>
  <meta http-equiv="refresh" content="300" >

  

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
    </head>

    <body>

      <!-- Top navbar -->
      <div class="navbar navbar-inverse">

        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand">SmartAmbient Sensor</a>
        </div>

        <div class="navbar-collapse collapse navbar-inverse-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/mainuser?username={{ nickname }}">Home</a></li>
            <li class="active"><a href="/sensors?username={{ nickname }}"><span class="mylink">Sensors</span></a></li>
            <li><a href="/history?username={{ nickname }}">History</a></li>
            <li><a href="/settings?username={{ nickname }}">Settings</a></li>
          </ul>
          
          <ul class="nav navbar-nav navbar-right">
            <li><a>{{ user_mail }}</a></li>
            <li><a href="{{ logout }}">Logout</a></li>
          </ul>

        </div>

      </div>


      <div class="container">

        <!-- temperature -->
        <p class="current-reading">Current temperature:<br>
          {% if person.temperature_unit == 'celsius' %}
          <span class="text-primary">{{ temp }} &deg;C</span></p>
          {% elif person.temperature_unit == 'fahrenheit' %}
          <span class="text-primary">{{ temp }} &deg;F</span></p>
          {% else %}
          <span class="text-primary">{{ temp }} K</span></p>
          {% endif %}


        <!-- light -->
        <p class="current-reading">Current light intensity: <br><span class="text-primary">{{ light }} %</span></p>


        <!-- motion -->
        <p class="current-reading">Motion <span class="text-primary">{{ motionStatusString }}</span></p>
                <p class="current-reading">Motion last detected at: <br><span>{{ datetimeLastMovement }}</span></p>


        <p class="date-time"><span class="text-primary">Last updated:</span> {{ datetimeLastUpdate }} </p>
        <p class="date-time"><span class="text-primary">Current time:</span> {{ datetime }} </p>
        <br>
        <div class ="view-history">
          <a class="btn btn-primary" href="/history">View History</a>
        </div>
        <hr/>
<!--
        <form action="/arduinopost?{{ query_params }}" method="post">
          Temperature:<input name="temp" type="number">
          Light %:<input name="light" type="number">
          Motion(0/1):<input name="movement" type="number">
          <input type="submit" value="submit">
        </form><p>/arduinopost?{{ query_params }}</p><p>Replace /sensors... with the above line at the end of the url and change the values.</p>-->

        <footer>
          <p><img height="80px" width="80px" src="../images/red_black.png" />  Ambienators 2014</p>
        </footer>

      </div>


      <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
      <!-- Include all compiled plugins (below), or include individual files as needed -->
      <script src="../bootstrap/js/bootstrap.min.js"></script>
    </body>
    </html>